.card img {
  max-width: 280px;
  height: auto;
}

.card:hover {
  outline: 2px solid #103f79;
}

.line-height {
  line-height: 1.1;
}

.cashPrice {
  font-size: 22px;
}

.installmentPrice {
  font-size: 14px;
  font-weight: bold;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.2);
}
