.card:hover {
  outline: 2px solid #103f79;
  box-shadow: 0 0 40px rgba(0.502, 0.502, 0.502, 0.502);
}

.line-height {
  line-height: 1.1;
}

.installmentPrice {
  font-size: 14px;
  font-weight: bold;
}

.zoom-card {
  transition: transform 0.3s ease;
}

.zoom-card:hover {
  transform: scale(0.9);
}

@media (max-width: 400px) {
  .zoom-card:hover {
    transform: scale(1);
  }
}
